.loginBlock{
  max-width: 480px;
  .connexion{
    margin: 5px auto;
    .divider{
      width: 70%;
      margin: 1rem auto;
    }
    .pwdlost{
      text-align: right;
      margin: -7px 0 12px 0;
      &:hover{text-decoration: underline;}
    }
    .socials_login{
      .button{
        margin: 10px 0;
      }
    }
    .login_form{
      .tgyet{
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}