<div class="loginBlock">
    <div class="head">
        <img class="logo" src="assets/images/logo/logo_workyep_original.svg" alt="logo workyep">
        <p *ngIf="loginInvitMsg" [innerHtml]="loginInvitMsg"></p>
    </div>
    <div class="connexion">
        <div *ngIf="messageBloc_" [innerHtml]="messageBloc_"></div>
        <div class="socials_login">
            <button (click)="facebookLogin()" [ngClass]="{'loading': facebookQuesting}" class="ui facebook button fluid large">
                <i class="facebook icon"></i>{{ 'login.connectwith' | translate:{v: "Facebook"} }}
            </button>
            <button (click)="linkedinkLogin()" [ngClass]="{'loading': linkedinQuesting}" class="ui linkedin button fluid large">
                <i class="linkedin icon"></i>{{ 'login.connectwith' | translate:{v: "LinkedIn"} }} 
            </button>
            <button (click)="googleLogin()" [ngClass]="{'loading': googleQuesting}" class="ui google plus button fluid large">
                <i class="google icon"></i>{{ 'login.connectwith' | translate:{v: "Google"} }}
            </button>
        </div>
        <div class="ui horizontal divider"> Or </div>
        <div class="login_form">
            <form [formGroup]="rLoginForm" (ngSubmit)="wkpLoginSubmit()" class="ui large form">
                <div class="ui stacked segment">
                    <div *ngIf="isRegister" class="two fields">
                        <div [ngClass]="{'error': isInvalidField('name')}" class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" formControlName="name" placeholder="{{ 'login.fname' | translate }}" required>
                            </div>
                        </div>
                        <div [ngClass]="{'error': isInvalidField('last_name')}" class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" formControlName="last_name" placeholder="{{ 'login.lname' | translate }}">
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{'error': isInvalidField('email')}" class="field">
                        <div class="ui left icon input">
                            <i class="at icon"></i>
                            <input type="email" formControlName="email" placeholder="{{ 'login.email' | translate }}" required>
                        </div>
                    </div>
                    <div class="field" [ngClass]="{'error': isInvalidField('password')}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" formControlName="password" placeholder="{{ 'login.password' | translate }}" required>
                        </div>
                    </div>
                    <div *ngIf="!isRegister" (click)="toogleForgotPwdModal()" class="pwdlost"><a>{{ 'login.forgotpwd' | translate }}</a></div>

                    <button *ngIf="!isRegister" [ngClass]="{'loading': wkpQuesting}" type="submit" class="ui fluid large primary submit button">{{ 'login.login' | translate }} </button>
                    <button *ngIf="isRegister" [ngClass]="{'loading': wkpQuesting}" type="submit" class="ui fluid large primary submit button">{{ 'login.signup' | translate }} </button>
                </div>
            </form>
            <div class="tgyet">
                <span *ngIf="!isRegister" (click)="setRegister($event)" >{{ 'login.notyet' | translate }} <a href="#login">{{ 'login.signup' | translate }}</a></span>
                <span *ngIf="isRegister" (click)="setLogin($event)" >{{ 'login.already' | translate }} <a href="#regster">{{ 'login.login' | translate }}</a></span>
            </div>
        </div>
    </div>
</div>