.aBlock{
    margin: 0 auto;
    padding-top: 30px;
    .head{
        background: #f7f7f7;
        text-align: center;
    }
}
.passwordkBlock{
    max-width: 380px;
    .messageBloc{margin-bottom: 15px;}
}

.emailcheckBlock{
    max-width: 380px;
    .cont{
        min-height: 85px;
    }
}

.lostkBlock{
    max-width: 380px;
}