<!-- emailcheckBlock -->
<div *ngIf="action=='emailcheck'" class="emailcheckBlock aBlock">
  <div class="ui stacked segments">
    <div class="ui segment head">
      <h3> <i class="at icon"></i> {{ 'all.emailValidation' | translate }}</h3>
    </div>
    <div [ngClass]="{'loading': questing}" class="ui segment center aligned cont">
      <div *ngIf="messageBloc_" [innerHtml]="messageBloc_" class="messageBloc"></div>
      <a routerLink="/login" class="ui primary button" style="margin-top:10px;">
        <i class="icon user"></i> {{ 'login.login' | translate }}
      </a>
    </div>
  </div>
</div>
<!-- passwordkBlock -->
<div *ngIf="action=='password'" class="passwordkBlock aBlock">
  <div class="ui stacked segments">
    <div class="ui segment head">
      <h3> <i class="lock icon"></i> {{ 'login.reinitPwdTitle' | translate }}</h3>
    </div>
    <div class="ui segment">
      <div *ngIf="messageBloc_" [innerHtml]="messageBloc_" class="messageBloc"></div>
      <form [formGroup]="rResetForm" (ngSubmit)="resetPwdSubmit()" class="ui large form">
        <div [ngClass]="{'error': isInvalidField('email')}" class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="email" formControlName="email" placeholder="{{ 'login.email' | translate }}" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field" [ngClass]="{'error': isInvalidField('password')}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" formControlName="password" placeholder="{{ 'login.password' | translate }}" required>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': isInvalidField('password_confirmation')}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" formControlName="password_confirmation" placeholder="{{ 'login.password2' | translate }}" required>
            </div>
          </div>
        </div>
        <button *ngIf="!pwdChangeDone" [ngClass]="{'loading': questing}" type="submit" class="ui fluid large submit button">{{ 'login.resetMyPdwd' | translate }}</button>
        <a routerLink="/user/dashboard" *ngIf="pwdChangeDone" class="ui fluid large primary submit button">{{ 'all.goToDasboard' | translate }}</a>
      </form>
    </div>
  </div>
</div>
<!-- lost -->
<div *ngIf="isLost" class="lostkBlock aBlock">
  <div class="ui stacked segments">
    <div class="ui segment head">
      <h3> <i class="ban icon"></i> {{ 'all.youreLost' | translate }}</h3>
    </div>
    <div class="ui segment center aligned">
      <a routerLink="/login" class="ui primary button">
        <i class="icon user"></i> {{ 'login.login' | translate }}
      </a>
    </div>
  </div>
</div>    