@import 'assets/scss/variables.scss';
.shower{
    padding: 140px 10px;
    text-align: center;
    background: linear-gradient($primaryColor, lighten($primaryColor, 10%));
    h1{
        margin: 0;
        font-size: 40px;
        color: #fff;
    }
}