@import "src/assets/scss/variables";

.userbaseInner{
    .cardChart{
        .l{
            width: 100%;
            max-width: 320px;
            float: left;
            margin-right: 0;
            margin-top: 0;
        }
        .r{
            width: calc(100% - 293px);
            float: left;
            margin-left: 0;
            margin-top: 0;
        }
    }
    .ui.segments{
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    h3.label{
        font-size: 1em;
        font-weight: 700;
        color: $textColor;
        text-transform: uppercase;
    }
}
.userCardBlock{
    .image{
        img{
            height: 256px;
            object-fit: cover;
        }
        .showmore{
            position: absolute;
            bottom: 0;
            padding: 10px;
            button{
                padding-left: 45px!important;
                padding-right: 13px!important;
            }
        }
    }
    .foot{
        .available{
            i.circle{
                color: $greenColor;
            }
        }
    }
}

.statBlock{
    h4.emailchecked{
        color: $greenColor;
    }
    h4.emailunchecked{
        color: $redColor;
    }
}
.horizBlock{
    .statistic{
        .label{margin-bottom: 5px;}
    }
}
