<div *ngIf="userBase?.hasProfile" class="userbaseInner">
	<div class="cardChart group">
		<!-- l -->
		<div class="l ui grid stackable">
			<div class="wide column userCardBlock">
				<!-- userCard -->
				<div class="ui card fluid">
					<div class="image">
						<div class="showmore">
							<button (click)="togglePhotoChangeModal()" class="ui labeled icon button">
								<i class="camera icon"></i> {{ 'user.change' | translate }}
							</button>
						</div>
						<img [src]="userBase.avatar.small" >
					</div>
					<div class="content">
						<div class="header">{{ userBase.name }} {{ userBase.last_name }}</div>
						<div class="meta">
							<a>{{ userBase.profile.title }}</a>
						</div>
						<div class="description">{{ getSmallDesc() }}</div>
					</div>
					<div class="extra content foot">
						<span class="right floated" [ngClass]="{'available': userBase.profile.isAvailable}">
							<i class="icon circle"></i>	
							<span *ngIf="userBase.profile.isAvailable">{{ 'all.available' | translate }}</span>
							<span *ngIf="!userBase.profile.isAvailable">{{ 'all.notAvailable' | translate }}</span>
						</span>
						<span><i class="map marker icon"></i> {{ userBase.profile.city }}</span>
					</div>
					<div class="extra content foot">
						<div class="ui vertical animated button fluid" tabindex="0">
							<div class="hidden content">{{ 'user.updateProfile' | translate }}</div>
							<div class="visible content"><i class="edit icon"></i></div>
						</div>
					</div>
					<!-- photoChangeModal -->
					<div class="ui modal photoChangeModal">
						<i class="close icon"></i>
						<div class="header"><h3><i class="camera icon"></i> {{ 'user.changeProfilePicture' | translate }}</h3></div>
						<div class="content">
							<form [formGroup]="rphotoChangeForm">
								<div>
									<label for="file" class="ui icon button">
										<i class="camera icon"></i> {{ 'user.choosePicture' | translate }}
									</label>
									<input (change)="choosingProfilePictureFile($event)" formControlName="avatar" type="file" id="file" style="display:none" accept="image/*">
									{{ profilePictureName }}
								</div>
							</form>
							<div *ngIf="messageBloc_" [innerHtml]="messageBloc_" style="margin-top: 10px;"></div>
						</div>
						<div class="actions">
							<button (click)="togglePhotoChangeModal()" class="ui button">{{ 'forms.btn.cancel' | translate }}</button>
							<button (click)="ProfilePictureSubmit()" [ngClass]="{'loading': isRequesting}" class="ui positive button">{{ 'forms.btn.send' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- r -->
		<div class="r ui grid stackable">
			<div class="eleven wide column chartBlock">
				<div class="ui segment" style="height: 256px;">
					<canvas id="useApChart"></canvas>
				</div>
			</div>
			<!--  -->
			<div class="five wide column statBlock">
				<div class="ui segments">
					<div class="ui segment">
						<div class="ui statistic tiny">
							<div class="value"><i class="heartbeat icon"></i> 465</div>
							<div class="label">Team Members</div>
						</div>
					</div>
					<div class="ui segment">
						<h4 *ngIf="userBase.profile.email_check" class="emailchecked">
							<i class="icon at"></i> Email verifié <span style="float:right"><i class="icon check"></i></span>
						</h4>
						<h4 *ngIf="!userBase.profile.email_check" class="emailunchecked" [attr.data-tooltip]="'user.validYourEmail' | translate">
							<i class="icon at"></i> Email non validé &nbsp;<button (click)="sendCheckEmailLink()" [ngClass]="{'loading': emailCheckQuesting}" class="mini ui button primary">Valider</button>
						</h4>
						<span *ngIf="messageBloc_" [innerHtml]="messageBloc_"></span>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="sixteen wide column horizBlock">
				<div class="ui horizontal segments">
					<div class="ui segment">
						<div class="ui statistic tiny">
							<div class="label">Taux horaire</div>
							<div class="value"><i class="ticket alternate icon"></i>&nbsp;<span [innerHTML]="userBase.profile.hourly_rate | devise : userBase.profile.devise"></span></div>
						</div>
					</div>
					<div class="ui segment">
						<div class="ui statistic tiny">
							<div class="label">Expérience</div>
							<div class="value"><i class="trophy icon"></i>&nbsp; {{  userBase.profile.experience_year}} <span class="normal">Years</span></div>
						</div>
					</div>
					<div class="ui segment">
						<div class="ui statistic tiny">
							<div class="label">Expérience</div>
							<div class="value"><i class="trophy icon"></i>&nbsp; {{  userBase.profile.experience_year}} <span class="normal">Years</span></div>
						</div>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="sixteen wide column skillsBlock">
				<div class="ui left aligned segment">
					<h3 class="label"><i class="tags icon"></i> {{ 'all.skills' | translate }}</h3>
					<div id="skillsDropdown" class="ui fluid multiple search selection dropdown">
						<input class="hiddenInput" name="skills" [placeholder]="'all.enterSkills' | translate"  type="hidden" value="">
						<i class="dropdown icon"></i>
						<div class="default text"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>



<pre>{{ userBase | json }}</pre>
<div class="ph-item" style="width:300px;">
	<div class="ph-col-12">
		<div class="ph-picture"></div>
		<div class="ph-row">
			<div class="ph-col-4"></div>
			<div class="ph-col-8 empty"></div>
			<div class="ph-col-12"></div>
		</div>
	</div>
	<div class="ph-col-2">
		<div class="ph-avatar"></div>
	</div>
	<div>
		<div class="ph-row">
			<div class="ph-col-6"></div>
			<div class="ph-col-6 empty"></div>
			<div class="ph-col-12"></div>
			<div class="ph-col-8 big"></div>
			<div class="ph-col-4 big empty"></div>
		</div>
	</div>
</div>