<div class="ui modal forgotPwdModal">
  <i class="close icon"></i>
  <div class="fgpInner">
    <div class="head">
      <h3> <i class="lock icon"></i> {{ 'login.reinitPwdTitle' | translate }}</h3>
      <p>{{ 'login.reinitPwdInfo' | translate }}</p>
    </div>
    <div *ngIf="messageBloc_" [innerHtml]="messageBloc_"></div>
    <form [formGroup]="rResetForm" (ngSubmit)="resetPwdSubmit()" class="ui large form">
      <div [ngClass]="{'error': isInvalidField('email')}" class="field">
        <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="email" formControlName="email" placeholder="{{ 'login.email' | translate }}" required>
        </div>
      </div>
      <button [ngClass]="{'loading': resetPwdQuesting}" type="submit" class="ui fluid large primary submit button">{{ 'login.resetMyPdwd' | translate }} </button>
    </form>
  </div>
</div>