/*** dark--> #011627 #0B3948 ***/
$primaryColor   :#188FA7;
$textColor      :#636363;
$greyColor      :#f9f9f9;
$darkGreyColor  :#304050; //#0B3948
$darkGreyL1Color:#83afbd;
$darkGreyL2Color:#eee;
$greenColor     :#5BBD72;
$redColor       :#D95C5C;

._trans{
    transition: all .1s ease;
}
._transAll *{
    transition: all .1s ease;
}

@mixin animBkg($color) {
    background: linear-gradient(90deg, rgba($color, 0) 26%, rgba($color, 0.35) 50%, rgba($color, 0) 54%) 50% 50%;
}