<div class="ui pointingX borderless top fixed menu">
  <a routerLink="/" class="item logo">
    <img src="assets/images/logo/logo_workyep_original.svg" alt="Logo Workyep">
  </a>
  <a routerLink="/login" routerLinkActive="active" class="item">Login test</a>
  <!--  -->
  <div class="right menu">
    <span *ngIf="!isAuth && !isLoginPage" class="loginBlock">
      <a (click)="toogleLoginModal(false)" class="item">{{ 'login.login' | translate }}</a>
      <button (click)="toogleLoginModal(true)" class="ui button primary">{{ 'login.signup' | translate }}</button >
    </span>
    <!--  -->
    <div *ngIf="isAuth && phSingle" [innerHtml]="phSingle" class="phSingle"></div>
    <div *ngIf="isAuth && !phSingle" class="ui image label userLinks">
      <a class="userimg" routerLink="/user/dashboard">
        <img [src]="userBase.avatar.mini">
        {{ userBase.name }} {{ userBase.last_name }}
      </a>
      <div class="ui dropdown detail">
        <i class="icon caret down"></i>
        <div class="menu">
          <a class="item"><i class="icon user"></i>Profile</a>
          <div class="divider"></div>
          <a (click)="logout()" class="item"><i class="icon power off"></i>{{ 'login.logout' | translate }}</a>
        </div>
      </div>
    </div>
    <!--  -->
    <a class="item help"><i class="icon question circle"></i></a>
  </div>
</div>
<!--  -->
<div *ngIf="!isAuth && !isLoginPage">
  <div class="ui modal loginModal">
    <i class="close icon"></i>
    <app-login-block></app-login-block>
  </div>
  <app-resetpwd></app-resetpwd>
</div>
