@import "src/assets/scss/variables";

.menu{
	min-height: 52px;
	box-shadow: none;
	.item.active,
	.item:hover,
	.active.item:after{
		background: #fff;
		background-color: #fff;
	}
	.active.item{color: $primaryColor;}
	a.item{
		&:hover{
			color: $primaryColor;
		}
	}
	a.logo{
		img{
			width: 125px;
		}
	}
	.loginBlock{
		display: inherit;
	}
	button{
		padding: 2px 15px;
		height: 36px;
		margin-top: 7px;
	}
	.phSingle{
		margin-top: 20px;
		width: 120px;
	}
	.userLinks{
		margin-top: 13px;
		height: 26px;
		a.userimg{
			opacity: 1;
			img{min-width: 26px;}
		}
		.detail{
			padding: 5px 5px;
			background: #d5d5d5;
			i{
				margin: 0;
				font-size: 16px;
			}
			.menu{
				margin-top: 3px;
				.item{
					display: block;
				}
			}
			&:hover{
				background: $primaryColor;
				color: #fff;
			}
		}
		&:hover{
			img{
				opacity: .9;
			}
		}
	}
	a.help{
		color: #9a9c9c;
		i{font-size: 16px;}
	}
}