/* Global styles */
@import "assets/ws/semantic/dist/semantic.min.css";
@import "assets/css/placeholder-loading.min.css";
@import "assets/scss/variables";

body{
  background-color: $greyColor;
  height: auto;
  color: $textColor;
}
a{cursor: pointer;}
h1,h2,h3{
  color: $primaryColor;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.bigwrapper{
  margin-top: 48px;
}

.ui.message{
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  .header span{
    font-weight: normal;
    font-size: 14px;
  }
  ul{margin-top: 5px;}
}

.ui.large.form{
  font-size: 14px;
}

.ui.success.message{
  .header{
    color: $greenColor
  }
}

.ui.dropdown{
  .menu{
    .divider{margin:0;}
  }
}

.loginModal{
  padding: 10px 20px 15px 20px!important;
}
.forgotPwdModal{
  .form{margin-top: 10px;}
  .head{margin-bottom: 5px;}
}
.loginModal,
.forgotPwdModal{
  width: auto;
  padding: 20px;
}

.ui.statistic>.value,
.ui.statistic>.label{
  color: $textColor;
  .icon{
    color: $primaryColor;
  }
  .devise{
    font-size: 18px;
  }
  span.normal{
    font-size: 18px;
    text-transform: none;
  }
}

.ui.label>.icon {
  margin: 0 5px 0 0;
}

.ui.modal{
  .close{
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: absolute;
    top: -20px!important;
    right: -20px!important;
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
    transition: all 0.2s ease 0s;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.25);
    color: rgba(0,0,0,.87)!important;
    opacity: 1;
    margin:0;
  }
}
.ui.modal, .loginBlock{
  .head{
    text-align: center;
    .logo{
      width: 150px;
    }
  }
}
//--ph-item--
.ph-item{
  padding: 10px 0px 0px 0px;
  &>*{
    padding-right: 10px;
    padding-left: 10px;
  }
  &:before{
    animation: a 1.1s linear infinite;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 26%,hsla(0,0%,100%,.35) 50%,hsla(0,0%,100%,0) 54%) 50% 50%;
  }
  .ph-avatar{
    min-width: 55px;
    margin-bottom: 0px;
  }
  .ph-row{
    div{
      border-radius: 8px;
    }
    .big{
      border-radius: 16px;
    }
  }
}
.ph-item.dark{
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  &:before{
    @include animBkg(darken($darkGreyColor, 2.5%));
  }
  .ph-avatar,
  .ph-row div{
    background: lighten($darkGreyColor, 8%);
  }
  .ph-row{
    margin-bottom:  0;
    .empty{background: darken($darkGreyColor, 2.5%);}
    .big{
      margin-bottom: 0;
    }
  }
  .l{padding-left: 0;}
  .r{padding-right: 0;}
}
.ph-item.single{
  margin: 0;
  padding:0;
  background: transparent;
  width: 65%;
  border: none;
  *{
    margin:0;
    padding:0;
  }
}

@media only screen and (min-width: 400px){
  .ui.modal{
    width: 380px;
  }
}