<app-header></app-header>
<div class="userMenu">
  <div *ngIf="isLoading" [innerHtml]="phCircleImg" class="avatar"></div>
  <div *ngIf="!isLoading" class="item avatar">
    <div class="imgbloc">
      <img *ngIf="userBase.avatar" class="ui tiny circular image" [src]="userBase.avatar.mini">
      <i *ngIf="!userBase.avatar" class="icon user circle"></i>
      <i class="onAvatarTop"></i>
    </div>
    <div class="ui dropdown content">
      <div class="name">{{ userBase.name }} {{ userBase.last_name }} <i class="icon caret down"></i></div>
      <div *ngIf="userBase.profile" class="title">{{ userBase.profile.title }}</div>
      <div class="menu">
        <a class="item"><i class="icon user"></i>Profile</a>
        <div class="divider"></div>
        <a (click)="logout()" class="item"><i class="icon power off"></i>{{ 'login.logout' | translate }}</a>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="menuItem">
    <!-- availability -->
    <div *ngIf="userBase?.hasProfile">
      <div *ngIf="isLoading" [innerHtml]="phSingle" class="onlineCheckbox ph"></div>
      <div *ngIf="!isLoading" class="ui toggle checkbox onlineCheckbox">
        <input type="checkbox" class="hidden" (change)="setAvailability($event)" [checked]="userBase.profile.isAvailable">
        <label>
          <span *ngIf="userBase.profile.isAvailable" [attr.data-tooltip]="'all.availableDesc' | translate" data-position="bottom left">{{ 'all.available' | translate}}</span>
          <span *ngIf="!userBase.profile.isAvailable" [attr.data-tooltip]="'all.notAvailableDesc' | translate" data-position="bottom left">{{ 'all.notAvailable' | translate}}</span>
        </label>
      </div>
    </div>
    <!-- menu link -->
    <a routerLink="/user/dashboard" routerLinkActive="active" class="item"><i class="tachometer alternate link icon"></i> Dashboard</a>
    <a class="item" href=""><i class="envelope link icon"></i> 
      Messages
      <span class="ui circular label">2</span>
    </a>
    <a class="item" href=""><i class="user link icon"></i> Profile</a>
    <a class="item" href=""><i class="user link icon"></i> Profile</a>
  </div>
</div>
<div class="dashWrapper">
  <router-outlet></router-outlet>
</div>