@import "src/assets/scss/variables";

.dashWrapper{
  margin: 52px 0 0 240px;
  padding: 0 15px 15px 15px;
}
.userMenu{
	background: $darkGreyColor;
	position: fixed;
	z-index: 900;
	width: 240px;
	min-height: 100%;
	margin-top: 52px;
	top: 0;
	left:0;
	color: #fff;
	.avatar{
		padding: 15px 10px;
		background: darken($darkGreyColor, 2.5%);
		min-height: 85px;
		.imgbloc{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			img{
				width: 55px;
				min-height: 55px;
			}
			i.user{
				font-size: 55px;
				display: block;
				position: relative;
				width: 55px;
				min-height: 55px;
				margin:0;
				color: $primaryColor;
				&:before{
					position: absolute;
					top: 19px;
					left: 0;
				}
			}
			i.onAvatarTop{
				position: absolute;
				top: 0;
				width: 12px;
				height: 12px;
				margin: 1px;
				border-width: 2px;
				border-style: solid;
				border-radius: 100%;
				background: $primaryColor;
				border-color: $darkGreyColor;
			}
		}
		.content{
			display: inline-block;
			vertical-align: middle;
			padding-left: 10px;
			max-width: 165px;
			width:100%;
			.name{
				font-weight: bold;
				font-size: 16px;
				i{
					color: $darkGreyL1Color;
				}
			}
			.title{
				color: $darkGreyL1Color;
				margin-top: 2px;
			}
			.menu{
				margin-left: 10px;
				a{
					font-size: 12px;
					padding: 10px 14px!important;
				}
			}
		}
	}
	.menuItem{
		margin-top: 15px;
		a.item{
			padding: 6px 15px 6px 11px;
			margin-bottom: 5px;
			color: $darkGreyL1Color;
			border-left: 3px solid;
			border-left-color: $darkGreyColor;
			display: block;
			font-size: 15px;
			@extend ._trans;
			&:hover{
				color: $darkGreyL2Color;
			}
			.ui.label{
				float: right;
				background: $primaryColor;
				color: $darkGreyL2Color;
			}
		}
		a.item.active{
			color: $darkGreyL2Color;
			border-left-color: $primaryColor;
		}
		.onlineCheckbox{
			width: 100%;
			padding: 0 10px 15px 15px;
			border-bottom: 1px solid lighten($darkGreyColor, 4%);
			margin-bottom: 10px;
			label{
				color: #fff!important;
				&:before{
					background: darken($darkGreyColor, 12%);
				}
			}
			input:focus:checked~label{
				color: #fff!important;
			}
		}
		.onlineCheckbox.ph{
			padding: 5px 10px 20px 15px;
		}
	}
}